[submodule "commandline"]
	path = commandline
	url = ../commandline.git
[submodule "atlas"]
	path = atlas
	url = ../atlas.git
[submodule "hades"]
	path = hades
	url = ../hades.git
[submodule "aether"]
	path = aether
	url = ../aether.git
